<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
	<link rel="stylesheet" href="signup.css">
	
</head>
<body>
<div class="box">
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
        <h2>회원가입</h2>
        <div th:replace="~{form_errors :: formErrorsFragment}" class="error-message"></div>
        <div class="inputBox">
            <input type="text" id="username" th:field="*{username}" required>
            <span>ID</span>
        </div>
        <div class="inputBox">
            <input type="password" id="password" th:field="*{password}" required>
            <span>비밀번호</span>
        </div>
        <div class="inputBox">
            <input type="password" id="checkPassword" th:field="*{checkPassword}" required>
            <span>비밀번호 확인</span>
        </div>
        <div class="inputBox">
            <input type="email" id="email" th:field="*{email}" required>
            <span>이메일</span>
        </div>
        <button type="submit">회원가입</button>
    </form>
</div>

<script src="signup.js"></script>
</body>
</html>
