import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}



header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2d2a30;
    color: #ffffff;
    text-align: left;
    font: bold 16px sans-serif;

}

@media (max-height: 800px) {
    footer {
        position: static; /* static으로 변경하여 footer가 자연스럽게 흐르도록 함 */
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    flex: 1;
    padding: 10px;

}

/* Footer left */

.footer-distributed .footer-left {
    max-width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 10px; 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    margin-right:10px;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 15px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}




