<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>

    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

</style>

<body>

    <div class="layout">
        <button type="button" onclick="location.href='/board/write'">글쓰기</button>
        <table th:unless="${list.getTotalPages()==0}">
            <thead>
                <tr>
                    <th>●</th>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>추천수</th>
                    <th>카테고리</th>
                    <th>작성일</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}">
                    <td>
                        <span th:if="${#lists.size(board.liked)} >= 1" style="color:red">●</span>
                        <span th:unless="${#lists.size(board.liked)} >= 1">○</span>
                    </td>

                    <td th:text="${board.id}">1</td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                    </td>
                    <td th:text="${#lists.size(board.liked)}"></td>
                    <td th:text="${board.category}"></td>
                    <td>
                        <span th:if="${#temporals.createNow().toLocalDate().isEqual(board.createdDate.toLocalDate())}"
                              th:text="${#temporals.format(board.createdDate, 'HH:mm')}"></span>
                        <span th:if="${!#temporals.createNow().toLocalDate().isEqual(board.createdDate.toLocalDate())}"
                              th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></span>
                    </td>
                    <td th:if="${board.author != null}" th:text="${board.author.username}"></td>
                </tr>
            </tbody>
        </table>

<!--검색 결과 없을 시 안내문-->
        <div th:if="${list.getTotalPages==0}">글이 없습니다.</div>

        <!--페이징 처리, 현재 페이지에서 -4, +5 페이지 까지 표시-->
        <th:block th:each ="page : ${#numbers.sequence(startPage, endPage)}" th:unless="${list.getTotalPages()==0}">
            <!--현재 페이지가 아닌 페이지 표시-->
            <a th:if="${page != curPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword}, category = ${param.category})}" th:text="${page}"></a>
            <!--현재 페이지는 빨간색으로 표시-->
            <strong th:if="${page == curPage}" th:text="${page}" style="color : red"></strong>
        </th:block>


<!--검색 결과 없을 시 페이지 번호 표시-->
        <strong th:if="${list.getTotalPages==0}" style="color : red">1</strong>

<!--검색 버튼-->
        <form th:action="@{/board/list}" method="get" id="searchForm">
            <input type="text" name="searchKeyword">
            <input type="hidden" name="category" th:value="${category}">
            <input type="hidden" name="hot" th:value="${hot}">
            <button type="submit">검색</button>
        </form>

        <select name="searchType" form="searchForm">
            <option value="title" th:selected="${searchType == 'title'}">제목</option>
            <option value="content" th:selected="${searchType == 'content'}">내용</option>
        </select>

        <div>
            <a th:href="@{/board/list(category='food', hot=${hot})}">식품</a>
            <a th:href="@{/board/list(category='clothing', hot=${hot})}">의류</a>
            <a th:href="@{/board/list(category='household', hot=${hot})}">생활용품</a>
            <a th:href="@{/board/list(category='electronics', hot=${hot})}">전자제품</a>
            <a th:href="@{/board/list(category='voucher', hot=${hot})}">상품권</a>
            <a th:href="@{/board/list(category='etc', hot=${hot})}">기타</a>
        </div>

        <div>
            <form th:action="@{/board/list}" method="get" id="hotForm">
                <input type="hidden", name="hot" value="1">
                <button type="submit">인기글</button>
            </form>
            <form th:action="@{/board/list}" method="get" id="fullForm">
                <button type="submit">전체글</button>
            </form>
        </div>
    </div>
</body>
</html>