<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <title>게시글 리스트 페이지</title>
</head>
<body>
<div th:replace="~{header.html}"></div>

<div class="layout">
    <div class="list-header">
        <h1>게시글 리스트 페이지</h1>
        <button type="button" onclick="location.href='/board/recommand'">AI 게시글 추천</button>
        <button type="button" onclick="location.href='/board/write'">글쓰기</button>
    </div>

    <div class="filter-buttons">
        <form th:action="@{/board/list}" method="get" id="hotForm">
            <input type="hidden" name="hot" value="1">
            <input type="hidden" name="filterByEndDate" th:value="${param.filterByEndDate}">
            <button type="submit">인기글</button>
        </form>
        <form th:action="@{/board/list}" method="get" id="activePostsForm">
            <input type="hidden" name="filterByEndDate" value="1">
            <input type="hidden" name="hot" th:value="${param.hot}">
            <button type="submit">진행중인 글</button>
        </form>
        <form th:action="@{/board/list}" method="get" id="fullForm">
            <button type="submit">전체글</button>
        </form>
    </div>
    <div class="filter-buttons">
        <form th:action="@{/board/list}" method="get" id="sortForm">
            <input type="hidden" name="hot" th:value="${param.hot}">
            <input type="hidden" name="filterByEndDate" th:value="${param.filterByEndDate}">
            <button type="submit" name="sortByEndDate" value="0" th:classappend="${param.sortBy == 'id' ? 'active' : ''}">
                최신순
            </button>
            <button type="submit" name="sortByEndDate" value="1" th:classappend="${param.sortBy == 'endDate' ? 'active' : ''}">
                마감 임박순
            </button>
        </form>
    </div>

    <!-- 카테고리 링크 -->
    <div class="category-links">
        <a th:href="@{/board/list(category='식품', hot=${param.hot}, filterByEndDate=${param.filterByEndDate}, sortByEndDate=${param.sortByEndDate})}">식품</a>
        <a th:href="@{/board/list(category='의류', hot=${param.hot}, filterByEndDate=${param.filterByEndDate}, sortByEndDate=${param.sortByEndDate})}">의류</a>
        <a th:href="@{/board/list(category='생활용품', hot=${param.hot}, filterByEndDate=${param.filterByEndDate}, sortByEndDate=${param.sortByEndDate})}">생활용품</a>
        <a th:href="@{/board/list(category='전자제품', hot=${param.hot}, filterByEndDate=${param.filterByEndDate}, sortByEndDate=${param.sortByEndDate})}">전자제품</a>
        <a th:href="@{/board/list(category='상품권', hot=${param.hot}, filterByEndDate=${param.filterByEndDate}, sortByEndDate=${param.sortByEndDate})}">상품권</a>
        <a th:href="@{/board/list(category='기타', hot=${param.hot}, filterByEndDate=${param.filterByEndDate}, sortByEndDate=${param.sortByEndDate})}">기타</a>
    </div>

    <table th:if="${list.totalPages > 0}">
        <thead>
        <tr>
            <th>●</th>
            <th>제목</th>
            <th>추천수</th>
            <th>카테고리</th>
            <th>작성일</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${notice}">
            <td>
                <span style="color:red">공지</span>
            </td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
            </td>
            <td th:text="${board.liked}">1</td>
            <td th:text="${board.category}">1</td>
            <td>
                <span th:if="${board.createdDate != null}">
                    <span th:if="${#temporals.createNow().toLocalDate().isEqual(board.createdDate.toLocalDate())}"
                          th:text="${#temporals.format(board.createdDate, 'HH:mm')}"></span>
                    <span th:if="${!#temporals.createNow().toLocalDate().isEqual(board.createdDate.toLocalDate())}"
                          th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></span>
                </span>
                <span th:if="${board.createdDate == null}">날짜 없음</span>
            </td>
            <td th:text="${board.author.username}"></td>
            <td th:text="${board.view}"></td>
        </tr>
        <tr th:each="board : ${list}"
            th:classappend="${board.endDate != null && board.endDate.isAfter(#temporals.createNow().toLocalDate()) ? '' : 'expired'}">
            <td>
                <span th:if="${board.liked >= 1}" style="color:red">●</span>
                <span th:if="${board.liked <= -1}" style="color:blue">●</span>
                <span th:if="${board.liked > -1 and board.liked < 1}">●</span>
            </td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
            </td>
            <td th:text="${board.liked}">1</td>
            <td th:text="${board.category}">1</td>
            <td>
                <span th:if="${board.createdDate != null}">
                    <span th:if="${#temporals.createNow().toLocalDate().isEqual(board.createdDate.toLocalDate())}"
                        th:text="${#temporals.format(board.createdDate, 'HH:mm')}"></span>
                    <span th:if="${!#temporals.createNow().toLocalDate().isEqual(board.createdDate.toLocalDate())}"
                        th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></span>
                </span>
                <span th:if="${board.createdDate == null}">날짜 없음</span>
            </td>
            <td th:text="${board.author.username}"></td>
            <td th:text="${board.view}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 검색 결과 없을 시 안내문-->
    <div th:if="${list.totalPages == 0}" class="no-posts-message">글이 없습니다.</div>

    <!--페이징 처리 -->
    <div class="pagination" th:if="${list.totalPages > 0}">
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != curPage}" th:href="@{/board/list(page=${page - 1}, searchKeyword=${param.searchKeyword}, searchType=${param.searchType}, category=${param.category}, hot=${param.hot}, filterByEndDate=${param.filterByEndDate}, sortByEndDate=${param.sortByEndDate})}" th:text="${page}"></a>
            <strong th:if="${page == curPage}" th:text="${page}"></strong>
        </th:block>
    </div>

    <!-- 검색 버튼 -->
    <div class="search-form">
        <form th:action="@{/board/list}" method="get" id="searchForm">
            <input type="text" name="searchKeyword" placeholder="검색어를 입력하세요" th:value="${param.searchKeyword}">
            <input type="hidden" name="category" th:value="${param.category}">
            <input type="hidden" name="hot" th:value="${param.hot}">
            <input type="hidden" name="filterByEndDate" th:value="${param.filterByEndDate}">
            <input type="hidden" name="sortByEndDate" th:value="${param.sortByEndDate}">
            <button type="submit">검색</button>
            <select name="searchType" id="searchType">
                <option value="title" th:selected="${searchType == 'title'}">제목</option>
                <option value="content" th:selected="${searchType == 'content'}">내용</option>
                <option value="torc" th:selected="${searchType == 'torc'}">제목+내용</option>
                <option value="mall" th:selected="${searchType == 'mall'}">쇼핑몰</option>
                <option value="productName" th:selected="${searchType == 'productName'}">상품명</option>
                <option value="author" th:selected="${searchType == 'author'}">작성자</option>
            </select>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });

        fetch('footer.html')
             .then(response => response.text())
             .then(data => {
                 document.getElementById('footer').innerHTML = data;
             });
    });
</script>
</body>
</html>
