<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <title>게시글 리스트 페이지</title>
</head>
<body>
<div th:replace="~{header.html}"></div>
<div class="layout">
    <div class="list-header">
        <h1>AI 상품 추천</h1>
        <!--        <button type="button" onclick="location.href='/board/write'">글쓰기</button>-->
    </div>

    <!--    <div class="filter-buttons">-->
    <!--        <form th:action="@{/board/list}" method="get" id="hotForm">-->
    <!--            <input type="hidden" name="hot" value="1">-->
    <!--            <button type="submit">인기글</button>-->
    <!--        </form>-->
    <!--        <form th:action="@{/board/list}" method="get" id="fullForm">-->
    <!--            <button type="submit">전체글</button>-->
    <!--        </form>-->
    <!--    </div>-->

    <!-- 카테고리 링크 -->
    <!--    <div class="category-links">-->
    <!--        <a th:href="@{/board/list(category='식품', hot=${param.hot})}">식품</a>-->
    <!--        <a th:href="@{/board/list(category='의류', hot=${param.hot})}">의류</a>-->
    <!--        <a th:href="@{/board/list(category='생활용품', hot=${param.hot})}">생활용품</a>-->
    <!--        <a th:href="@{/board/list(category='전자제품', hot=${param.hot})}">전자제품</a>-->
    <!--        <a th:href="@{/board/list(category='상품권', hot=${param.hot})}">상품권</a>-->
    <!--        <a th:href="@{/board/list(category='기타', hot=${param.hot})}">기타</a>-->
    <!--    </div>-->

    <table>
        <thead>
        <tr>
            <th>●</th>
            <th>제목</th>
            <th>가격 / 배송비</th>
            <th>카테고리</th>
            <th>작성일</th>
            <th>마감일</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>추천수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${recommandedBoards}">
            <td>
                <span th:if="${board.liked >= 1}" style="color:red">●</span>
                <span th:if="${board.liked <= -1}" style="color:blue">●</span>
                <span th:if="${board.liked > -1 and board.liked < 1}">●</span>
            </td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
            <td th:text="${board.price} + ' / ' + ${board.deliveryPrice}"></td>
            </td>
            <td th:text="${board.category}">1</td>
            <td>
                <span th:if="${board.createdDate != null}">
                    <span th:if="${#temporals.createNow().toLocalDate().isEqual(board.createdDate.toLocalDate())}"
                          th:text="${#temporals.format(board.createdDate, 'HH:mm')}"></span>
                    <span th:if="${!#temporals.createNow().toLocalDate().isEqual(board.createdDate.toLocalDate())}"
                          th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}"></span>
                </span>
                <span th:if="${board.createdDate == null}">날짜 없음</span>
            </td>
            <td th:text="${board.endDate}"></td>
            <td th:text="${board.author.username}"></td>
            <td th:text="${board.view}"></td>
            <td th:text="${board.liked}">1</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/board/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });

        fetch('/board/footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer').innerHTML = data;
            });
    });
</script>

</body>
</html>
