<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/list.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <title>게시글 리스트 페이지</title>
</head>
<body>
<div th:replace="~{header.html}"></div>
<div class="layout">

  <div class="list-header">
    <h1>자유 게시판</h1>
    <button type="button" onclick="location.href='/commu/write'">글쓰기</button>
  </div>

  <!-- 카테고리 링크 -->
  <div class="category-links">
    <a th:href="@{/commu/list(category='자유')}">자유</a>
    <a th:href="@{/commu/list(category='질문')}">질문</a>
    <a th:href="@{/commu/list(category='후기')}">후기</a>
  </div>

  <div class="filter-buttons">
    <form th:action="@{/commu/list}" method="get" id="hotForm">
      <input type="hidden" name="category" th:value="${param.category}">
      <input type="hidden" name="hot" value="1">
      <button type="submit">인기글</button>
    </form>
    <form th:action="@{/commu/list}" method="get" id="fullForm">
      <button type="submit">전체글</button>
    </form>
  </div>

  <table th:if="${list.totalPages > 0}">
    <thead>
    <tr>
      <th>●</th>
      <th>제목</th>
      <th>추천수</th>
      <th>카테고리</th>
      <th>작성일</th>
      <th>작성자</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="commu : ${notice}">
      <td>
        <span style="color:red">공지</span>
      </td>
      <td>
        <a th:text="${commu.title}" th:href="@{/commu/view(id=${commu.id})}">제목제목제목제목제목제목제목제목</a>
      </td>
      <td th:text="${commu.liked}">1</td>
      <td th:text="${commu.category}">1</td>
      <td>
        <span th:if="${commu.createdDate != null}">
                        <span th:if="${#temporals.createNow().toLocalDate().isEqual(commu.createdDate.toLocalDate())}"
                              th:text="${#temporals.format(commu.createdDate, 'HH:mm')}"></span>
        <span th:if="${!#temporals.createNow().toLocalDate().isEqual(commu.createdDate.toLocalDate())}"
              th:text="${#temporals.format(commu.createdDate, 'yyyy-MM-dd')}"></span>
        </span>
        <span th:if="${commu.createdDate == null}">날짜 정보 없음</span>
      </td>
      <td th:text="${commu.author.username}"></td>
      <td th:text="${commu.view}"></td>
    </tr>
    <tr th:each="commu : ${list}">
      <td>
        <span th:if="${commu.liked >= 1}" style="color:red">●</span>
        <span th:if="${commu.liked <= -1}" style="color:blue">●</span>
        <span th:if="${commu.liked > -1 and commu.liked < 1}">●</span>
      </td>
      <td>
        <a th:text="${commu.title}" th:href="@{/commu/view(id=${commu.id})}">제목제목제목제목제목제목제목제목</a>
      </td>
      <td th:text="${commu.liked}">1</td>
      <td th:text="${commu.category}">1</td>
      <td>
        <span th:if="${commu.createdDate != null}">
                        <span th:if="${#temporals.createNow().toLocalDate().isEqual(commu.createdDate.toLocalDate())}"
                              th:text="${#temporals.format(commu.createdDate, 'HH:mm')}"></span>
        <span th:if="${!#temporals.createNow().toLocalDate().isEqual(commu.createdDate.toLocalDate())}"
              th:text="${#temporals.format(commu.createdDate, 'yyyy-MM-dd')}"></span>
        </span>
        <span th:if="${commu.createdDate == null}">날짜 정보 없음</span>
      </td>
      <td th:text="${commu.author.username}"></td>
      <td th:text="${commu.view}"></td>
    </tr>
    </tbody>
  </table>

  <!-- 검색 결과 없을 시 안내문 -->
  <div th:if="${list.totalPages == 0}" class="no-posts-message">글이 없습니다.</div>

  <!-- 페이징 처리 -->
  <div class="pagination" th:if="${list.totalPages > 0}">
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
      <a th:if="${page != curPage}" th:href="@{/commu/list(page=${page - 1}, searchKeyword=${param.searchKeyword}, searchType=${param.searchType}, category=${param.category}, hot=${param.hot})}" th:text="${page}"></a>
      <strong th:if="${page == curPage}" th:text="${page}"></strong>
    </th:block>
  </div>

  <!-- 검색 버튼 -->
  <div class="search-form">
    <form th:action="@{/commu/list}" method="get" id="searchForm">
      <input type="text" name="searchKeyword" placeholder="검색어를 입력하세요" th:value="${param.searchKeyword}">
      <input type="hidden" name="category" th:value="${category}">
      <input type="hidden" name="hot" th:value="${hot}">
      <button type="submit">검색</button>
      <select name="searchType" id="searchType">
        <option value="title" th:selected="${searchType == 'title'}">제목</option>
        <option value="content" th:selected="${searchType == 'content'}">내용</option>
        <option value="torc" th:selected="${searchType == 'torc'}">제목+내용</option>
        <option value="author" th:selected="${searchType == 'author'}">작성자</option>
      </select>
    </form>
  </div>
</div>
</body>
</html>
