<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<body>

<h1 th:text="${commu.title}">제목</h1>

<table>
    <thead>
    <tr>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${commu.author.username}"></td>
        <td th:text="${#temporals.format(commu.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${commu.view}"></td>
    </tr>
    </tbody>
</table>

<div th:each="image : ${commu.images}">
    <img th:src="@{${image.filepath}}" alt="${image.filename}" th:width="500px">
</div>

<p th:text="${commu.content}">내용</p>
<a th:href="@{/commu/like/{id}(id=${commu.id})}">추천</a>
<span th:text="${#lists.size(commu.liked) - #lists.size(commu.disliked)}"></span>
<a th:href="@{/commu/dislike/{id}(id=${commu.id})}">비추천</a>
<a th:href="@{/commu/list}">목록</a>
<div th:if="${loggedUser != null}">
    <a th:if="${commu.author.id} == ${loggedUser.id}" th:href="@{/commu/delete?(id=${commu.id})}">삭제</a>
    <a th:if="${commu.author.id} == ${loggedUser.id}" th:href="@{/commu/modify/{id}(id=${commu.id})}">수정</a>
</div>


<!--댓글-->
<div>
    <h2>댓글</h2>
    <form th:action="@{/replys/writec/{commuId}(commuId=${commu.id})}" method="post">
        <textarea name="content"></textarea>
        <button type="submit">댓글 작성</button>
    </form>
</div>

<div th:if="${replys.isEmpty()}">댓글이 없습니다.</div>
<table th:unless="${replys.isEmpty()}">
    <thead>
    <tr>
        <th>작성자</th>
        <th>내용</th>
        <th>작성 시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reply : ${replys}" th:id="'reply-row-' + ${reply.id}">
        <td th:text="${reply.author.username}">작성자</td>
        <td th:text="${reply.content}" th:id="'reply-content-' + ${reply.id}">댓글 내용</td>
        <td th:text="${#temporals.format(commu.createdDate, 'yyyy-MM-dd HH:mm:ss')}">작성 시간</td>
        <div th:if="${loggedUser != null}">
            <td>
                <button th:if="${reply.author.id} == ${loggedUser.id}" th:onclick="'showEditForm(' + ${reply.id} + ')'">수정</button>
            </td>
            <td>
                <form th:if="${reply.author.id} == ${loggedUser.id}" th:action="@{/replys/deletec/{replyId}(replyId=${reply.id})}" method="post">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </div>
    </tr>
    <tr th:each="reply : ${replys}" th:id="'edit-row-' + ${reply.id}" style="display:none;">
        <td colspan="5">
            <form th:action="@{/replys/updatec/{replyId}(replyId=${reply.id})}" method="post">
                <textarea name="content" th:text="${reply.content}"></textarea>
                <button type="submit">수정</button>
            </form>
            <button th:onclick="'hideEditForm(' + ${reply.id} + ')'">취소</button>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function showEditForm(replyId) {
        document.getElementById('reply-row-' + replyId).style.display = 'none';
        document.getElementById('edit-row-' + replyId).style.display = 'table-row';
    }

    function hideEditForm(replyId) {
        document.getElementById('reply-row-' + replyId).style.display = 'table-row';
        document.getElementById('edit-row-' + replyId).style.display = 'none';
    }
</script>

</body>
</html>