<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴</title>
</head>
<body>
<div id="header"></div>
<div>
    <form th:action="@{/user/delete}" method="post">
        <div>
            <label for="username">ID</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit">회원 탈퇴</button>
        <p th:text="${message}"></p>
    </form>
</div>
<div id="footer"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/board/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });

        fetch('/board/footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer').innerHTML = data;
            });
    });
</script>

</body>
</html>