<!-- FOOTER -->
<footer>
  <div class="inner">
    <ul class="menu">
      <li><a href="javascript:void(0)">개인정보처리방침</a></li>
      <li><a href="javascript:void(0)">영상정보처리기기 운영관리 방침</a></li>
      <li><a href="javascript:void(0)">홈페이지 이용약관</a></li>
      <li><a href="javascript:void(0)">위치정보 이용약관</a></li>
      <li><a href="javascript:void(0)">청소년보호정책</a></li>
      <li><a href="javascript:void(0)">문의/신고</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a href="javascript:void(0)" class="btn btn--white">찾아오시는 길</a>
    <a href="javascript:void(0)" class="btn btn--white">사이트 맵</a>
  </div>

  <div class="info">
    <span>사업자등록번호 218-81-18362</span>
    <span>대표 핫딜</span>
    <span>TEL : 02) 3015-1100 / FAX : 02) 3015-1106</span>
    <span>개인정보 책임자 : hotdeal2024 </span>
  </div>

  <div classname="copyright">
    Copyright © www.hotdeal2024.com
    </p>

  </div>
</footer>