<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${pageTitle}">Hotdeal 2024</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
<header class="header-distributed">
  <div class="header-left">
    <h1 th:text="${siteTitle}">Hotdeal<span>2024</span></h1>
    <a href="#" class="logo">
      <img src="/images/logo.jpg" alt="사이트 로고">
    </a>
    <div class="mobile-menu-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <nav>
      <ul>
        <li><a href="/" th:text="#{menu.main}">메인</a></li>
        <li><a href="/hotdeals" th:text="#{menu.hotdeals}">핫딜</a></li>
        <li><a href="/free" th:text="#{menu.free}">자유</a></li>
        <li><a href="/contact" th:text="#{menu.contact}">Contact</a></li>
      </ul>
    </nav>
    <div class="auth-buttons">
      <a href="/user/login" th:text="#{auth.login}">로그인</a>
      <a href="/user/logout" th:text="#{auth.logout}">로그아웃</a>
      <a href="/user/signup" th:text="#{auth.signup}">회원가입</a>
      <a href="/user/delete" th:text="#{auth.delete}">회원 탈퇴</a>
    </div>
  </div>
</header>
</body>
</html>
