<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문서 제목</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div id="header"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var message = [[${message}]];
    alert(message);

    location.replace([[${URL}]]);

    /*]]*/
</script>
<div id="footer"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer').innerHTML = data;
            });
    });
</script>

<body>

</body>
</html>