<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage.css">

</head>
<body>
<div class="container">
    <h1>마이페이지</h1>
    <!-- 사용자 정보 수정 섹션 -->
    <div class="form-section">
        <form action="/update_profile" method="POST">
            <label for="username">이름</label>
            <input type="text" id="username" name="username" th:value="${user.username}" readonly>

            <label for="email">이메일</label>
            <input type="email" id="email" name="email" th:value="${user.email}" readonly>
        </form>

        <form action="/user/delete" method="POST" onsubmit="return confirmDeleteUser();">
            <input type="submit" class="btn logout-btn" value="회원탈퇴">
        </form>
    </div>
</div>
<script>
    function confirmDeleteUser() {
        return confirm("정말로 회원 탈퇴를 하시겠습니까?");
    }
</script>
</body>
</html>