<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>신고된 게시물 목록</title>
</head>
<body>
<h1>신고된 게시물 목록</h1>
<table>
  <thead>
  <tr>
    <th>게시판</th>
    <th>제목</th>
    <th>작성자</th>
    <th>상세보기</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boards}">
    <td>핫딜</td>
    <td th:text="${board.title}"></td>
    <td th:text="${board.author.username}"></td>
    <td><a th:href="@{/board/view?id={id}(id=${board.id})}">상세보기</a></td>
  </tr>
  <tr th:each="commu : ${commus}">
    <td>자유</td>
    <td th:text="${commu.title}"></td>
    <td th:text="${commu.author.username}"></td>
    <td><a th:href="@{/commu/view?id={id}(id=${commu.id})}">상세보기</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>