<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>신고된 게시물 목록</title>
</head>
<body>
<h1>신고된 게시물 목록</h1>
<table>
  <thead>
  <tr>
    <th>제목</th>
    <th>작성자</th>
    <th>신고 횟수</th>
    <th>상세보기</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boards}">
    <td th:text="${board.title}"></td>
    <td th:text="${board.author.username}"></td>
    <td th:text="${board.reportCount}"></td>
    <td><a th:href="@{/admin/reportedBoard/{id}(id=${board.id})}">상세보기</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>