<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" type="text/css" href="/css/findpassword.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<div th:replace="~{header.html}"></div>
<div class="box">
    <form th:action="@{/user/resetPassword}" method="post">
        <h2>비밀번호 재설정</h2>

        <!-- 에러 메시지 표시 -->
        <div th:if="${message}" class="error-message" th:text="${message}"></div>

        <!-- 새 비밀번호 입력 -->
        <div class="inputBox">
            <input type="password" id="newPassword" name="newPassword" required>
            <span>새 비밀번호</span>
        </div>

        <!-- 새 비밀번호 확인 -->
        <div class="inputBox">
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
            <span>새 비밀번호 확인</span>
        </div>

        <!-- 제출 버튼 -->
        <button type="submit">비밀번호 재설정</button>
    </form>
</div>
<div id="footer"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/board/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header').innerHTML = data;
            });

        fetch('/board/footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer').innerHTML = data;
            });
    });
</script>
</body>
</html>