/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --text-color: #f0f4f5;
  --background-color: #272727;
  --link-color: #61dafb;
  --hover-link-color: #4da6d1;
  --header-background-color: #333;
  --header-active-color: #084769;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--link-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: var(--link-color);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.login-button {
  background-color: var(--link-color);
  border: none;
  color: var(--background-color);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.login-button:hover {
  background-color: var(--hover-link-color);
}

main {
  padding: 20px;
}




